<div class="dream">
    <% if (theme.dream.showTitle) { %>
    <div class="title center-align">
        <i class="far fa-lightbulb"></i>&nbsp;&nbsp;<%= theme.dream.title %>
    </div>
    <% } %>
    <div class="row">
        <div class="col l8 offset-l2 m10 offset-m1 s10 offset-s1 center-align text font-size">
            <p style="line-height: 30px; font-size:large;" >不要打扰，请不要打扰<br/>在遥远的天边<br/>你将化为七道彩虹<br/>在生命中最美丽的一天<br/>愿爱无忧，愿爱无忧</p>
        </div>
    </div>
</div>
